### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
build/
.bin
.html
.xml
.css
.idx

### Gradle template
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

#oauth
application-oauth.properties