<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- index.js 추가 -->
<script src="/js/app/index.js"></script>
<!-- 절대경로로 시작하는데, 기본적으로 scr/main/resources/static에 위치한 파일들은 URL에서 /로 설정됨-->
</body>
</html>